*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

section{

	font-size: 20px;
	width: 100%;
	position: relative;
	height: 100vh;
}
.container{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 70%;
	height: 80vh;
	background-color: #555;
	transform: translate(-50%, -50%);
	border-radius: 15px;
	display: flex;
	flex-direction: row;
}
.winner {
	background-color: rgb(85, 5, 47);
	transition: all 1s;
}
.active--player {
	background-color: #004;
	transition: all 1s;
}
.inner-div {
	font-size: 150%;
	position: relative;
	color: #fff;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}
.player--0{
	border-radius: 15px 0px 0px 15px;
	float: left;
	width: 50%;

}
.player--1{
	border-radius: 0px 15px 15px 0px;
	width: 50%;
}
h2 {
	margin-top: -80px;
}
.score{
	background-color: rgb(158, 59, 142);
	width: 40%;
	height: 20%;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
}
.current{
	font-size: 150%;
}
.hidden{
	display: none;
}
.dice {
	width: 15%;
	height: 25%;
	background-color: chartreuse;
	position: absolute;
	top: 37%;
	right: 45%;
	box-shadow: 0 10px 15px rgba(0,0,0,0.5);
}
.dice .image--number{
	width: 100%;
	height: 100%;
}
button{
	cursor: pointer;;
	text-transform: capitalize;
	font-size: 120%;
	display: flex;
	justify-content: center;
	border-radius: 100px;
	vertical-align: middle;
	text-align: center;
	width:200px;
	height: 50px;
	padding: 10px 15px;
}
.reset{
	position: absolute;
	top: 60px;
	right: 43%;
}
.roll{
	position: absolute;
	bottom: 100px;
	right: 43%;
}
.hold {
	position: absolute;
	bottom: 40px;
	right: 43%;
}